.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  text-align: center;
  width: 100%;
  height: 100vh;
  overflow: scroll;
  padding: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 50%;

  .tripInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    width: 100%;
    gap: 2rem;
    @media (max-width: 992px) {
      flex-direction: column;
    }
    > div {
      width: 50%;

      @media (max-width: 992px) {
        width: 100%;
      }
    }
  }
  .mainSearchGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;

    @media (max-width: 992px) {
      flex-direction: column;
    }

    > div {
      width: 50%;
      @media (max-width: 992px) {
        width: 100%;
      }
    }
  }

  .stationSearchGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .cities {
    display: flex;
    padding: 1rem;
    width: 100%;
    overflow: scroll;
    justify-content: center;

    @media (max-width: 992px) {
      justify-content: flex-start;
    }
  }
  @media (max-width: 992px) {
    padding: 1rem;
    width: 90%;
  }
}
